.margin-top {
  margin-top: 100px;
}
.white {
  background: white;
}
.custom-switch {
  float: right;
}
.col-md-auto{
  margin-bottom: 25px;
}
.card.red{
  border: 2px solid red;
}
.card.blue{
  border: 2px solid blue;
}